<div fxLayout='column' fxFlex='80' >
  <div fxLayout="row">
        <button mat-raised-button fxFlex='30' fxFlex.lt-md="55" *ngIf="selectedPokemon" (click)="savePokemon()" color="primary">Enregister ce Pokemon ?</button>
      </div>
        <mat-card id="pokemonCard">
  <div *ngIf="selectedPokemon">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex='60'>
        <mat-card-header>
          <mat-card-title *ngIf="selectedPokemon.id">#{{selectedPokemon.id}} {{selectedPokemon.name}}</mat-card-title>
          <mat-card-title *ngIf="!selectedPokemon.id">{{selectedPokemon.name}}</mat-card-title>
          <mat-card-subtitle>Types : {{selectedPokemon.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="selectedPokemon.images.length>0" fxLayout="column" fxLayoutAlign="center center">
        <p><img style="zoom: 2; max-width: 100%; max-height: 200px;"  [src]="selectedPokemon.images[indexImage]"></p>
        <button mat-icon-button *ngIf="selectedPokemon.images.length>1" (click)="changeImage()">
            <mat-icon>loop</mat-icon>
          </button>
        </mat-card-content>
        <mat-card-content *ngIf="selectedPokemon.images.length==0" fxLayout="column" fxLayoutAlign="center center">
          No image
        </mat-card-content>
        <mat-card-content>
          <h2>Description</h2>
          <p>{{selectedPokemon.description}}</p>
        </mat-card-content>
        <mat-card-content *ngIf='selectedPokemon.abilities.length>0'>
          <h2>Abilites</h2>
          <p>{{selectedPokemon.abilities}}</p>
        </mat-card-content>
      </div>
      <mat-card-content fxFlex='40'>
        <mat-list>
          <h2>Stats</h2>
          <div fxLayout="row" *ngFor="let stat of selectedPokemon.stats">
            <mat-list-item>
              <p fxFlex="50">{{stat.name}} :</p>
              <p fxFlex="10" style="text-align:right">{{stat.value}}</p>
              <mat-progress-bar fxFlex="40" style='height: 30%' mode="determinate" [value]="(stat.value/255)*100"
                [ngClass]="barColor(stat.value)"></mat-progress-bar>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </div>
  </div>
  <div *ngIf="!selectedPokemon">
    <mat-card-header>
      <mat-card-title>Veuillez Choisir un Pokémon</mat-card-title>
    </mat-card-header>
  </div>
</mat-card>
</div>
