<form (ngSubmit)="submitPokemon()">
    <div fxLayout='row' fxLayoutAlign="space-between center">
  <mat-form-field fxFlex="60">
        <input matInput placeholder="Pokemon ou Id" aria-label="Pokemon" [matAutocomplete]="auto"
      [formControl]="pokemonCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let pokemon of filteredPokemons | async" [value]="pokemon.name">
        <span>{{pokemon.id+' | '+pokemon.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button fxFlex="30" type="submit" mat-raised-button>validate</button>
</div>
</form>
