<h2 fxLayoutAlign="center">{{'demo.title' | translate}}</h2>
<div fxLayout="column" fxLayoutAlign="center" style="margin-top:4%" fxLayoutGap="4%">
  <div fxLayoutAlign="center">
    <mat-card fxFlex='70'>
    <form [formGroup]="pokemonGroup" fxLayout="column" (ngSubmit)="createPokemon()">
      <div fxLayout='row' fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45">
          <input matInput required formControlName="inputNameControl" placeholder="Name">
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <textarea matInput required formControlName="inputDescriptionControl" placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="4%">
        <mat-form-field>
          <input matInput required formControlName="inputTypesControl" placeholder="Types">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="inputAbilitiesControl" placeholder="Abilities">
        </mat-form-field>
      </div>

      <div fxLayout='row' fxLayout.xs="column" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputHpControl" type="number" placeholder="hp">
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputAttackControl" type="number" placeholder="attack">
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputDefenseControl" type="number" placeholder="defense">
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayout.xs="column" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputSpeedControl" type="number" placeholder="speed">
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputSpeDefenseControl" type="number" placeholder="special-defense">
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput required formControlName="inputSpeAttackControl" type="number" placeholder="special-attack">
        </mat-form-field>
      </div>
      <div fxLayoutAlign="space-between" fxLayout="column" fxLayoutGap="4%">
        <div fxLayout="row">
          <button mat-raised-button fxFlex='50' fxFlex.xs="75" (click)="openFileBrowser()" type="button">
            Upload Image
          </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="4%">
          <div fxLayout="row">
            <button fxFlex="40" fxFlex.xs="75" mat-raised-button (click)="resetCustomPokemon()" type="button">Reset /
              New</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <button fxFlex="25" mat-raised-button type="submit">Go !</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
  </div>
  <app-preview-infos *ngIf="filledCustomPokemon" fxFlex="70" fxLayoutAlign="center" [defaultpokemon]='customPokemon' [isCustomPokemon] = 'true'>
  </app-preview-infos>
</div>
<input hidden type="file" id="fileInput" (change)="uploadImagePokemon($event)" accept=".png, .jpg, .jpeg">
