<h1>Liste des Pokémons</h1>

<div class="list-page">
@if (listPokemons(); as pokemons) {
  <app-pagination 
    [currentPage]="page()" 
    [totalPages]="totalPages()" 
    (pageChange)="onPageChange($event)" />

  <div class="pokemon-list">
    @for (pokemon of pokemons; track pokemon.id) {
      <app-card [pokemon]="pokemon"></app-card>
    }
  </div>

  <app-pagination 
    [currentPage]="page()" 
    [totalPages]="totalPages()" 
    (pageChange)="onPageChange($event)" />
} @else {
  <p>Chargement...</p>
}
</div>